bin/
obj/
backend/
web_ui_angular/
database/
notebooks/
infrastructure/
.git/
.vscode/
.vs/
*.sqlite
*.db
*.sqlite3
database.sql
appsettings.Development.json
*.gguf
Models/.cache/
Models/google-embeding300-finetuning/
